CIS397_IM_Package/bin*
CIS397_IM_Package/obj*

#CIS499_IM_Server/server.pfx
CIS499_IM_Server/bin*
CIS499_IM_Server/obj*

CIS499_Client/bin*
CIS499_Client/obj*

Userclass/bin*
Userclass/obj*

Packet/bin*
Packet/obj*

Imstatuses/bin*
Imstatuses/obj*

packages/*/
*.cache